<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:difxapp='http://schemas.microsoft.com/wix/DifxAppExtension' xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">
    <Product Id="*" Name="BatterySimulator" Language="1033" Version="1.0.0.0" Manufacturer="TODO-Set-Manufacturer" UpgradeCode="E1C79D1B-49A9-45F8-AC07-2762C3B20005">
        <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Description="Simulated battery driver" />

        <!-- Disable downgrades, prevent side-by-side installations of same version -->
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes"/>
        <!-- Embed binaries inside MSI instead of separate CAB files -->
        <MediaTemplate EmbedCab="yes"/>

        <Feature Id="ProductFeature" Title="BatterySimulator" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="INSTALLFOLDER" Name="BatterySimulator" />
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <Binary Id="DriverCert" SourceFile="$(var.simbatt.TargetDir)simbatt\simbatt.cer" />
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="CertAndDevGen" Guid="*">
                <iis:Certificate Id="root" Name="simbatt.cer" Overwrite="no" StoreLocation="localMachine" StoreName="root" BinaryKey="DriverCert" />
                <iis:Certificate Id="trustedPublisher" Name="simbatt.cer" Overwrite="no" StoreLocation="localMachine" StoreName="trustedPublisher" BinaryKey="DriverCert" />
                <File Id="devgen.exe" Source="$(var.simbatt.TargetDir)simbatt\devgen.exe" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="DriverFiles" Guid="*">
                <difxapp:Driver Legacy='yes' PlugAndPlayPrompt='no' />
                <File Id="simbatt.cat" Source="$(var.simbatt.TargetDir)simbatt\simbatt.cat" />
                <File Id="simbatt.inf" Source="$(var.simbatt.TargetDir)simbatt\simbatt.inf" />
                <File Id="simbatt.sys" Source="$(var.simbatt.TargetDir)simbatt\simbatt.sys" KeyPath="yes" Checksum="yes"/>
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
