<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package Name="BatterySimulator" Language="1033" Version="$(var.Version)" Manufacturer="OpenSource" UpgradeCode="E1C79D1B-49A9-45F8-AC07-2762C3B20005">
        <SummaryInformation Description="Simulated battery driver" />

        <!-- Disable downgrades, prevent side-by-side installations of same version -->
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" />
        <!-- Embed binaries inside MSI instead of separate CAB files -->
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="ProductFeature" Title="BatterySimulator" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>

        <CustomAction Id="AddCertToRoot" Directory="INSTALLFOLDER" ExeCommand="certutil.exe -addstore root &quot;[INSTALLFOLDER]simbatt.cer&quot;" Execute="deferred" Impersonate="no" />
        <CustomAction Id="AddCertToTrustedPublisher" Directory="INSTALLFOLDER" ExeCommand="certutil.exe -f -addstore trustedpublisher &quot;[INSTALLFOLDER]simbatt.cer&quot;" Execute="deferred" Impersonate="no" />
        <CustomAction Id="InstallDriver" Directory="INSTALLFOLDER" ExeCommand="pnputil.exe /add-driver &quot;[INSTALLFOLDER]simbatt.inf&quot; /install" Execute="deferred" Impersonate="no" />
        <CustomAction Id="UninstallDriver" Directory="INSTALLFOLDER" ExeCommand="pnputil.exe /delete-driver &quot;[INSTALLFOLDER]simbatt.inf&quot; /uninstall /force" Execute="deferred" Impersonate="no" />

        <InstallExecuteSequence>
            <Custom Action="AddCertToRoot" After="InstallFiles" Condition="NOT Installed OR REINSTALL" />
            <Custom Action="AddCertToTrustedPublisher" After="InstallFiles" Condition="NOT Installed OR REINSTALL" />
            <Custom Action="InstallDriver" After="InstallFiles" Condition="NOT Installed OR REINSTALL" />
            <Custom Action="UninstallDriver" After="InstallInitialize" Condition="REMOVE" />
        </InstallExecuteSequence>
    </Package>

    <Fragment>
        <StandardDirectory Id="ProgramFiles64Folder">
            <Directory Id="INSTALLFOLDER" Name="BatterySimulator" />
        </StandardDirectory>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="Certificate">
                <File Id="simbatt.cer" Source="$(var.simbatt.TargetDir)simbatt\simbatt.cer" KeyPath="yes" />
            </Component>
            <Component Id="DriverFiles">
                <File Id="simbatt.cat" Source="$(var.simbatt.TargetDir)simbatt\simbatt.cat" />
                <File Id="simbatt.inf" Source="$(var.simbatt.TargetDir)simbatt\simbatt.inf" />
                <File Id="simbatt.sys" Source="$(var.simbatt.TargetDir)simbatt\simbatt.sys" KeyPath="yes" Checksum="yes" />
            </Component>
            <Component Id="DevGen">
                <File Id="devgen.exe" Source="$(var.simbatt.TargetDir)simbatt\devgen.exe" KeyPath="yes" Checksum="yes" />
            </Component>
            <Component Id="BatteryConfig">
                <File Id="BatteryConfig.exe" Source="$(var.BatteryConfig.TargetDir)BatteryConfig.exe" KeyPath="yes" Checksum="yes" />
            </Component>
            <Component Id="BatteryParams">
                <File Id="BatteryParams.ps1" Source="$(var.SolutionDir)BatteryParams.ps1" KeyPath="yes" Checksum="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
